torch==2.1.1
humemai-research==2.5.3.post2
room-env==3.0.6
numpy==1.26.4
torch-scatter==2.1.2
torch_geometric==2.4.0
tqdm==4.66.4
PyYAML>=6.0.1
ipython
ipykernel
gymnasium==0.29.1
pandas
matplotlib
rdflib
transformers==4.36.2
